body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(51, 184, 51), rgb(71, 212, 201), rgb(179, 160, 57));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: transparent;
    border-radius: 10px;
    height: 23rem;
    box-shadow: 10px 10px 10px 10px rgba(10, 10, 10, 0.133);
    text-align: center;
    padding: 20px;
}
.topic{
 color: white;
}
input {
    width: 94%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: transparent;
    color: white;
}
button {
    width: 50%;
    margin-top: 50px;
    padding: 12px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #43A047;
}